.Xauthority
.Xdefaults
.aws/credentials
.bash_history
.battlestar.scores
.cache/
.config/chromium/
.config/fossil.db
.config/gh/
.config/kitty/kitty.conf.bak
.config/transmission-daemon/
.config/weechat/
.config/wireshark/
.cshrc
.cvsrc
.dbus/
.git_template/
.irssi/
.local/
.login
.mozilla/
.pki/
.python_history
.ratpoison_history
.setup
.slime/
.sndio/
.sqlite_history
.ssh/
.tclsh8.6_history
.terminfo/
.vim/.netrwhist
.vim/plugged
.vim/tmp
.viminfo
.w3m/*.gz
.w3m/*cache*
.w3m/cookie
.w3m/history
.xsession-errors
.z
.zcompdump
Documents/
Downloads/
Fossil/
Media/
Projects/
build/
lib/
mbox
quicklisp/
